/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: PT Sans;
}

img {
    max-width: 100%;
}
  /* COMMON */

  .container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  :root {
    --header-color: #0084FD;
    --box-color: #B5DDFF;
    --main-color: #9792E4;
    --free-color: #FDC15F;
    --footer-color: #333333;
  }
  /* /COMMON */

  /* UTILITIES */
  .flex {
    display: flex;
  }
  /* /UTILITIES */

  /* HEADER */
  .header {
    background-color: var(--header-color);
    /* debug*/
    height: 70px;
    line-height: 70px;
  }

  .header-menu {
    display: none;
  }

  .header-menu ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    color: white;
    padding-right: 20px;
  }

  .header-logo {
    padding-left: 40px;
  }

  .hamburger-menu {
    padding-right: 40px;
  }

  .hamburger-menu-btn {
    background-color: transparent;
    border: 0;
    font-size: 1.7rem;
    color: white;
  }

  @media screen and (min-width: 992px) {

    .header-menu {
      display: block;
    }

    .hamburger-menu {
      display: none;
    }

    .colums {
      padding: 50px 0;
    }
  }
  /* /HEADER */

  /* MAIN */
  /* 5 cards section */
  
  .colums {
    padding: 50px 40px;
  }

  .col {
    background-color: var(--box-color);
    border-radius: 10px;
    margin-bottom: 20px;
    /* debug */
    height: 500px;
  }
 /* media query 5 cards section */
  @media screen and (min-width: 768px) {
    .container {
      width: 90%;
      justify-content: space-between;
      margin: 0 auto;
    }
     .colums {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
     }

     #card-section .col {
        width: 30%;
     }

     #card-section .col:nth-child(1) {
      width: calc(60% + 20px)
     }

     .colums {
      padding: 50px 0;
    }
  }
  /* /media quert 5 cards section */
  /* /5 card section */

  /* strategic section */

  main .planning {
    background-color: var(--main-color);
  }
  .planning .container {
    padding: 50px 0;
  }
  .item {
    width: 90%;
    background-color: #BCB5EE;
    /* debug */
    height: 650px;
    margin: 40px auto;
  }

  .developement {
    background-color: white;
    border-radius: 30px;
  }

  @media screen and (min-width: 992px) {
    .planning .container {
      width: 60%;
      display: flex;
      gap: 20px;
    }
  }
  /* /strategic section */
  /* /MAIN */